<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LXTSDKProject.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>182391861ECC3E3D00F32373</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1823919F1ECC3E3D00F32373</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>182391AA1ECC3E3D00F32373</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
